h5{
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  display: inline-block;
  margin: 1rem 0;
}
.new-trans-container{
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: center;
  margin: 0 auto;
}
input{
  border: 1px solid rgb(197, 193, 193);
  border-radius: 3px;
  padding: .7rem;
  font-size: 1rem;
}
.input-btn{
  margin-top: 2rem;
  width: 20rem;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
    height: 3rem;
    background: #dde1e7;
    font-weight: bold;
}
input{
  border-radius: 2rem;
  border: 0;
  outline: 0;
  box-shadow: inset 2px 2px 4px #babecc,
                inset -2px -2px 4px #ffffff73;
  padding: 10px 25px ;
}