h5{
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  display: inline-block;
  margin: 1rem 0;
}
.new-trans-container{
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: center;
  margin: 0 auto;
}
input{
  border: 1px solid rgb(197, 193, 193);
  border-radius: 3px;
  padding: .7rem;
  font-size: 1rem;
}
a{
  background-color: rgb(74, 127, 170);
  margin: .51rem 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: .81rem 0;
  width: 20rem;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  color: white;
  
}