.single-transaction{
  background-color: white;
  width: 20rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  padding: 10px 25px;
}
.single-transaction:hover{
  color: white;
}
.border-income{
  border-right: 5px solid rgb(44, 134, 44);
}
.border-expense{
  border-right: 5px solid brown;
}
.border-expense:hover{
  background-color: brown;
}
.border-income:hover{
  background-color: rgb(44, 134, 44) ;
}
button{
  border: 0;
  background-color: #dde1e7;
  margin-left: 10px;
color: white;
  display: none;
  border-radius: 100px;
  width: 20px;
}
button:active{
  border: 0;
  outline: 0;
}
.single-transaction:hover button{
  color: white;
  font-weight: 600;
  background-color: rgb(184, 184, 184);
  display: inline-block;
}