/* font imprts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* classes */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    background-color: #DDE1E7;
    height: auto;
    padding: 1rem 0;
}
.center-it{
text-align: center;
}
.container{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 5rem 1rem;
    margin: 0 auto;
    background-color: #DDE1E7;    
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288)
}